<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/estilos.css" />
    <title>Facebook</title>
  </head>
  <body>
    <div><h1 class="white-text">Redes sociales</h1></div>
    <!-- Div contenedor con fondo gris oscuro -->
    <div class="opciones-container">
      <div class="opcion">
        <a href="/index.html">Inicio</a>
      </div>
      <div class="opcion">
        <a href="/views/whatsapp.html">WhatsApp</a>
      </div>
      <div class="opcion">
        <a href="/views/facebook.html">Facebook</a>
      </div>
      <div class="opcion">
        <a href="/views/instagram.html">Instagram</a>
      </div>
      <div class="opcion">
        <a href="/views/threads.html">Treads</a>
      </div>
    </div>
      <div class="container">
        <h1>Facebook</h1>
        <img src="/media/Facebook.png" alt="Facebook" width="300"/>
        <h2>Descripción:</h2>
        <p>
          <a href="https://www.facebook.com/"><b>Facebook</b></a
            > es una de las redes sociales más grandes y populares del mundo, 
          fundada por Mark Zuckerberg junto con sus compañeros de habitación en la Universidad 
          de Harvard en febrero de 2004. En sus inicios, estaba destinada principalmente a los 
          estudiantes universitarios, pero rápidamente se expandió para incluir a cualquier persona con una 
          dirección de correo electrónico válida.
        </p>
        <p>
          <a href="https://www.facebook.com/"><b>Facebook</b></a> 
          ha evolucionado significativamente desde su creación, y actualmente cuenta con miles de millones 
          de usuarios en todo el mundo. También ha adquirido otras plataformas populares como Instagram y WhatsApp, 
          expandiendo su alcance y ofreciendo una amplia gama de servicios a sus usuarios.
        </p>
      </div>
    </body>

    <!-- Pie de página -->
    <footer>copyright &copy; 2023 wlinares</footer>
  </body>
</html>
