<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/estilos.css">
    <title>Instagram</title>
  </head>
  <body>
    <div><h1 class="white-text">Redes sociales</h1></div>
    <!-- Div contenedor con fondo gris oscuro -->
    <div class="opciones-container">
      <div class="opcion">
        <a href="/index.html">Inicio</a>
      </div>
      <div class="opcion">
        <a href="/views/whatsapp.html">WhatsApp</a>
      </div>
      <div class="opcion">
        <a href="/views/facebook.html">Facebook</a>
      </div>
      <div class="opcion">
        <a href="/views/instagram.html">Instagram</a>
      </div>
      <div class="opcion">
        <a href="/views/threads.html">Threads</a>
      </div>
    </div>

    <div class="container">
      <h1>Instagram</h1>
      <img src="/media/Instagram.png" alt="Instagram" width="300" />
      <h2>Descripción:</h2>
      <p>
        <a href="https://www.instagram.com/"><b>Instagram</b></a>
        es una red social centrada en el contenido visual que permite a los usuarios compartir fotos y videos con sus seguidores. 
        Fue creada por Kevin Systrom y Mike Krieger y lanzada en octubre de 2010. En 2012, Facebook adquirió Instagram, lo que contribuyó 
        a su rápido crecimiento y popularidad.
      </p>
      <p>
        <a href="https://www.Instagram.com/"><b>Instagram</b></a>
        ha experimentado un crecimiento significativo y se ha convertido en una de las plataformas de redes sociales más populares en todo el mundo, 
        especialmente entre los jóvenes. Su enfoque en el contenido visual y las funciones interactivas han hecho que sea atractiva para individuos, 
        celebridades, marcas y empresas para compartir su vida, promocionar productos y conectarse con su audiencia. Al igual que otras plataformas de redes sociales, 
        <a href="https://www.Instagram.com/"><b>Instagram</b></a> también ha abordado temas de privacidad y seguridad en su comunidad, y ha introducido medidas para proteger a sus usuarios y promover 
        un ambiente seguro.
      </p>
    </div>

    <!-- Pie de página -->
    <footer>copyright &copy; 2023 wlinares</footer>
  </body>
</html>
