<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="/Primer Parcial/styles/estilos.css">
    <title>Threads</title>
</head>
<body>
    <!-- Header con opciones -->
    <header>
      <h1>Redes sociales</h1>
    </header>
    <!-- Div contenedor con fondo gris oscuro -->
    <div class="opciones-container">
      <div class="opcion">
        <a href="/Primer Parcial/index.html">Inicio</a>
      </div>
      <div class="opcion">
        <a href="/Primer Parcial/views/whatsapp.html">WhatsApp</a>
      </div>
      <div class="opcion">
        <a href="/Primer Parcial/views/facebook.html">Facebook</a>
      </div>
      <div class="opcion">
        <a href="/Primer Parcial/views/instagram.html">Instagram</a>
      </div>
      <div class="opcion">
        <a href="/Primer Parcial/views/threads.html">Treads</a>
      </div>
    </div>

    <div class="container">
      <h1>Threads</h1>
      <img src="/Primer Parcial/media/Threads.jpg" alt="Threads" width="600" />
      <h2>Descripción:</h2>
      <p>
        <a href="https://www.threads.com/"><b>Threads</b></a>
        es una red social desarrollada por Instagram, una subsidiaria de Facebook. 
        Fue lanzada en octubre de 2019 y está diseñada para compartir fotos, videos y mensajes de forma privada con grupos 
        selectos de amigos cercanos.
      </p>
      <p>
        Con <a href="https://www.Threads.com/"><b>Threads</b></a>
        Con Threads, <a href="https://www.Instagram.com/"><b>Instagram</b></a> buscó ofrecer una experiencia más privada y enfocada en 
        las relaciones cercanas, permitiendo a los usuarios compartir momentos más personales y mantenerse conectados con 
        sus amigos más íntimos en un entorno seguro y confiable. Sin embargo, es relevante recordar que las redes sociales, 
        incluidas las más privadas, siempre deben utilizarse con prudencia y considerar cuidadosamente la información que se comparte.
      </p>
    </div>

    <!-- Pie de página -->
    <footer>copyright &copy; 2023 wlinares</footer>
  </body>
</html>