<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estilos.css">
    <title>WhatsApp</title>
</head>
<body>
        <div><h1 class="white-text">Redes sociales</h1></div>
          <!-- Div contenedor con fondo gris oscuro -->
          <div class="opciones-container">
            <div class="opcion">
              <a href="index.html">Inicio</a>
            </div>
            <div class="opcion">
              <a href="views/whatsapp.html">WhatsApp</a>
            </div>
            <div class="opcion">
              <a href="views/facebook.html">Facebook</a>
            </div>
            <div class="opcion">
              <a href="views/instagram.html">Instagram</a>
            </div>
            <div class="opcion">
              <a href="views/threads.html">Treads</a>
            </div>
          </div>

          <div class="container">
            <h1>WhatsApp</h1>
            <img src="/media/WhatsApp.png" alt="WhatsApp" width="300"/>
            <h2>Descripción:</h2>
            <p>
              <a href="https://www.whatsapp.com/"><b>WhatsApp</b></a> 
              es una aplicación de mensajería instantánea para dispositivos móviles y computadoras, que permite a los usuarios enviar 
              mensajes de texto, imágenes, videos, audios y realizar llamadas de voz y video de forma gratuita a través de Internet. 
              Fue creada por Brian Acton y Jan Koum en 2009 y luego adquirida por Facebook en 2014.
            </p>
            <p>
            <a href="https://www.whatsapp.com/"><b>WhatsApp</b></a> 
            ha crecido rápidamente y se ha convertido en una de las aplicaciones de mensajería más populares del mundo, 
            con miles de millones de usuarios activos en todo el mundo. La facilidad de uso, las características de seguridad y 
            la disponibilidad multiplataforma han contribuido a su amplia adopción y éxito. Sin embargo, también ha enfrentado desafíos 
            relacionados con la privacidad de los datos y la propagación de noticias falsas, lo que ha llevado a la empresa a tomar 
            medidas para abordar estos problemas.
            </p>
          </div>
    
        <!-- Pie de página -->
        <footer>
            copyright &copy; 2023 wlinares
        </footer>
</body>
</html>
